/*Start grid layout settings*/

* {
	box-sizing: border-box;
}

.container {
	display: grid;
	grid-template-columns: repeat(12, [col-start] 1fr);
	gap: 5px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Mobile first */
.container > * {
	/*border: 1px solid green;
	background-color: beige;*/
	padding: 0px;
	grid-column: col-start / span 12;
}

@media (min-width: 576px) and (max-width: 767px) {
	.nav {
		background-color: rgb(6, 6, 89);
		grid-row: 2;
	}
	/*.sidebar {
		grid-column: col-start / span 3;
    	grid-row: 3;
  	}
	.ads {
    	grid-column: col-start / span 3;
	}*/
	.content {
		grid-column: col-start 2 / span 8
	} 
	
	.footer {
		grid-column: col-start / span 12;
	}

	nav ul {
		display: flex;
		position: sticky;
		top: 0;
		align-items: start;
		justify-content: space-between;
	}
}


@media (min-width: 768px) {
	/*.head {
		position:fixed;
	}*/

	.nav {
		grid-column: col-start / span 2;
		grid-row: 2 / 4;
		background-color: rgb(6, 6, 89);
	}
	.content {
		grid-column: col-start 4 / span 8;
		grid-row: 2 / 4;
	}
	/*.sidebar {
		grid-column: col-start 11 / span 2;
	}
	.ads {
		grid-column: col-start 11 / span 2;
	}*/
	.footer {
		grid-column: col-start / span 12;
	}
	nav ul {
    	flex-direction: column;
		display: flex;
    	position: sticky;
    	top: 0;
    	align-items: start;
	}
}

/*.container {
	display: grid;
	grid-template-areas:
		"header header"
		"menu content"
		"footer footer";
	grid-template-columns: 1fr 3fr;
	gap: 3px;
	background-color: rgb(255, 30, 30);
	padding: 5px;
}
.container div {
	background-color: white;
	padding: 10px;
}
.container div.header {
	grid-area: header;
	text-align: center;
	position: fixed;
}
.container div.sidenav {
	grid-area: menu;
	display: flex;
	position: sticky;
	top: 0;
  
}
.container div.content {
	grid-area: content;
}
.container div.footer {
	grid-area: footer;
	text-align: center;  
} */






/*End of grid layout*/

/* Top menu settings*/
/* Add a black background color to the top navigation */
.topnav {
	background-color: rgba(7,24,141,1);
	overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 15px;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: rgba(242,152,54);
	color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
	background-color: #793e04;
	color: white;
}
/*End of Top Menu settings*/

body {
	text-align: left;
}

.coursetable {
    border:#eee 1px solid;
    margin: 10px;
	text-align: left;
}

.coursetable tr td {
    border-top:#eee 1px solid;
    border-left:#eee 1px solid;
    padding: 10px;
    /* padding-right: 10px; */
}


/*@media only screen and (max-width: 500px) {
.link {
	padding-top: 15px;
	padding-bottom: 15px;
}
}*/

/* The sidebar menu */

/* The navigation menu links */
.nav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 14px;
	color: #ffffff;
	background-color: rgb(6, 6, 89);
	display: block;
}

/* When you mouse over the navigation links, change their color */
.nav a:hover {
	color: orange;
}

.nav aa {
	padding: 6px 0px 6px 16px;
	text-decoration: none;
	font-size: 14px;
	margin-left: 10px;
  	color: #ffffff;
	background-color: rgb(78, 78, 79);

  display: block;
}

/* When you mouse over the navigation links, change their color */
.nav aa:hover {
	color: red;
	border-color: gray;
}
/* End of sidenav*/




/* Stolen from  https://stackoverflow.com/questions/10405945/html-ordered-list-1-1-1-2-nested-counters-and-scope-not-working */
.section-listing {
	counter-reset: section 0;
	list-style-type: none;
}

.section-listing >  li {
	counter-increment: section;
	    counter-reset: item 0;
}

.section-listing li:before {
	content: "Section " counter(section) ". ";
	font-weight: bold;
}

.section-listing li ol {
    list-style-type: none;
}

.section-listing li ol li {
    counter-increment: item;
}

.section-listing li ol li:before {
    content: counter(section) "." counter(item) " ";
	font-weight: normal;
}

/* --- */

.figure {
	font-style: italic;
	font-size: small;
	width:fit-content;
	max-width: 80%;
	text-align: center;
	align-content: center;
	margin: 20px;
	padding: 20px;
	margin-left:auto;
	margin-right:auto;
	border: 1px solid rgba(128, 128, 128, 0.494);
	background-color: white;
}

img {
	display: block;
	max-width: 95%;
	max-height: 400px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 10px;
	padding: 20px;
}

.code {
	display: block;
	width: 800px;
	max-width: 80%;
	min-height: 500px;
	margin: 20px;
	margin-left:auto;
	margin-right:auto;
}

.code iframe {
	display: block;
	width: 95%;
	min-height: 400px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 10px;
	padding: 20px;
	border: none;
}

.exercise {
	margin:10px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	width: 90%;
	padding:2%;
	border: 1px solid gray;
	
	background-color:rgba(147, 255, 156, 0.15) ;
}

.exercise::before {
	color: rgb(0, 87, 61);
	content: "Exercise. ";
	font-weight: bold;
}

.challenge-exercise {
	margin:10px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	width: 90%;
	padding:2%;
	border: 1px solid rgb(255, 0, 0);
	
	background-color:rgba(219, 255, 147, 0.15) ;
}

.challenge-exercise::before {
	color: rgb(32, 110, 38);
	content: "Challenge Exercise. ";
	font-weight: bold;
}

.individual-exercise {
	margin:10px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	width: 90%;
	padding:2%;
	border: 1px solid rgb(38, 0, 255);
	
	background-color:rgba(147, 255, 226, 0.15) ;
}

.individual-exercise::before {
	color: rgb(32, 110, 87);
	content: "Individual Exercise. ";
	font-weight: bold;
}

.remark {
	margin:10px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	width: 90%;
	padding:2%;
	/* border: 1px solid gray; */
	font-style: italic;
	background-color:rgba(255, 254, 214, 0.058) ;
}

.remark::before {
	color: rgb(56, 0, 0);
	content: "Remark. ";
	font-weight: bold;
}

.claim {
	margin:10px;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	padding:2%;
	border: 1px solid rgb(192, 192, 192);
	background-color:rgba(238, 238, 238, 0.15) ;
}

.problem {
	margin:10px;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	padding:2%;
	border: 1px solid gray;
	background-color:rgba(253, 67, 67, 0.1) ;
}

.problem::before {
	color: rgb(157, 0, 0) ;
	content: "Problem. ";
	font-weight: bold;
}

.definition {
	margin:10px;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	padding:2%;
	border: 1.25px solid black;
	border-radius: 15px;
	background-color:rgba(217.6, 256, 192, 1) ;
	text-align: left;

}

.definition::before {
	text-align: left;
	color: black;
	content: "Definition. ";
	font-weight: bold;
}

.example {
	margin:10px;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	padding:2%;
	border: 1.25px solid black;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background-color:rgba(192, 217.6, 256, 1) ;
	text-align: left;

}

.example::before {
	text-align: left;
	color: black;
	content: "Example. ";
	font-weight: bold;
}

.lemma {
	margin:10px;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	padding:2%;
	border: 1.25px solid black; 
	background-color:rgba(256, 243.2, 153.6, 1) ;
	text-align: left;
}

.lemma::before {
	text-align: left;
	color: black;
	content: "Lemma. ";
	font-weight: bold;
}

.proposition {
	text-align: left;
	margin:10px;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	padding:2%;
	border: 1.25px solid black; 
	background-color:rgba(256, 204.8, 128, 1) ;
	text-align: left;
}

.proposition::before {
	color: black;
	content: "Proposition. ";
	font-weight: bold;
}

.theorem {
	margin:10px;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	padding:2%;
	border: 1.25px solid black; 
	background-color:rgba(256, 192, 192, 1) ; /* 243.2*/
	text-align: left;
}

.theorem::before {
	text-align: left;
	color: black;
	content: "Theorem. ";
	font-weight: bold;
}

.corollary {
	margin:10px;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	padding:2%;
	border: 1.25px solid black;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	background-color:rgba(204.8, 185.6, 224, 1) ;
	text-align: left;
}

.corollary::before {
	text-align: left;
	color: black;
	content: "Corollary. ";
	font-weight: bold;
}

.hint {
	color: rgba(0,0,0,0);
	font-style: italic;
	font-size: small;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	border: 1px dashed rgb(101, 0, 110) ;
}

.hint::before {
	color: rgb(56, 56, 56);
	content: "Hint: ";
	font-weight: bold;
}

.hint a {
	visibility: hidden;
}

.hint:hover {
	color:black;
}

.hint:hover a {
	visibility:visible;
}

.figure table {
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

td {
	min-width: 20px;
	text-align: center;
}

.alignenv, .alignenv img, .alignenv td {
	max-width: 70%;
	min-width: 50px;
}

.alignenv {
	display: block;
	margin: 20px;
	border: none;
	margin-left: auto;
	margin-right: auto;
}

.alignenv td, .alignenv th {
  border: none;
  padding: 5px;
}

.proof {
	/* height: 40px;
	overflow: hidden; */
	margin-top: 0;
	margin-bottom:10px;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	padding:2%;
	/* border: 1px solid blue; */
	background-color:rgba(178, 146, 185, 0.05);
	border-bottom: 2px double rgba(199, 128, 254, 0.554) ;
}

.proof::before {
	color: rgb(0, 0, 0);
	content: "Proof. ";
	font-weight: bold;
}